/* background color*/
$primary-color: black;
$primary-color-light: #222;

/* text color*/
$primary-text-color: white;

/* indents*/
$std-indents: 16px;
$double-std-indents: 32px;

/*radius*/
$radius: 5px;

$lines: 3px;